{% extends "webapp/base.html" %}

{% block content %}

            <h4> Welcome to the dashbaord Page! {{user}}  </h4>
            <hr>

            <a  class="btn btn-outline-primary btn-sm" href="{% url  'create-record' %}" >
                    create a new record
            </a>
            <hr>

            <div class="table-responsive">
                <table
                    class="table table-primary  table-hover table-bordered"
                >
                    <thead  class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Full Name </th>
                            <th scope="col"> Email</th>
                            <th scope="col"> Phone</th>
                            <th scope="col"> Address</th>
                            <th scope="col"> City</th>
                            <th scope="col"> Province</th>
                            <th scope="col"> pincode</th>
                            <th scope="col"> view</th>
                            
                        </tr>
                    </thead>
                    <tbody  class="table-light">
                        {% for record in records  %}
                            <tr class="">
                                <td scope="row">{{ forloop.counter }}</td>
                                <td> {{record.first_name}} {{record.last_name}}</td>
                                <td>{{record.email}}</td>
                                <td>{{record.phone}}</td>
                                <td>{{record.address}}</td>
                                <td>{{record.city}}</td>
                                <td>{{record.province}}</td>
                                <td>{{record.pincode}}</td>
                                <td><a  class="btn btn-success sm" href="{% url  'view-record' record.id %}" >
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                            </a></td>
                        
                            </tr>
                           
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            

            


{% endblock content %}


